@import '../libs';

.cs-block.hero-fullscreen:not(.is-preview ) {
  display:grid;
  .image-holder {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    @include aspect-ratio( 3, 4 );
    @include breakpoint( large-mobile ) { @include aspect-ratio( 1, 1 ); }
    @include breakpoint( handheld ) { @include aspect-ratio( 16, 9 ); }
    // @include breakpoint( desktop ) { @include aspect-ratio( 16, 9 ); }
  }
  .container { 
    @include grid-with-gutters; 
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
  .content {
    align-self: center;
    grid-column: 1 / -1;
    text-align:center;
    z-index:1;
    @include breakpoint( handheld ) { grid-column: 3 / -3; }
  }
  h2 {
    @include font--large-serif;
    color:$light;
    margin:90px 0 32px;
  }
  .g-link { @include button; }
}